@keyframes fadeIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.home {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    max-width: 600px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: row;
    gap: var(--space-6);
    animation: fadeIn 1s 0s;
}

.headerLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

.headerRight {
    width: fit-content;
}

