.filterSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hyperlinkWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
}
.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
}

.filterButton {
    display: flex;
    padding: 2px 8px;
    border: #F3F3F3 solid 1px;
    border-radius: 8px;
    font-size: var(--font-body);
    font-family: var(--heading);
    font-weight: var(--weight-header);
    color: #8B9091;
}

.filterButton:hover {
    background-color: #F3F3F3;
}

.selected {
    background-color: #F3F3F3;
}
