@keyframes fadeIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.caseStudyList {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.listSection {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}