*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Inter";
  src: url('public/fonts/inter-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url('public/fonts/geist-var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-header: #202020;
  --text-body: #646464;
  --text-primary: #202020;
  --text-secondary: #C7C7C7;
  --divider: #F0EFEF;
  --background: #FFFFFF;

  --font-header: 24px;
  --font-body: 14px;
  --line-height-header: 1.5;
  --line-height-body: 1.6;
  --weight-header: 500;
  --weight-body: 500;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;

  --sans: Inter, sans-serif;
  --heading: Geist, sans-serif;

  color: var(--text-body);
  background: var(--background);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

p {
  font-family: var(--sans);
  font-size: var(--font-body);
  line-height: var(--line-height-body);
  color: var(--text-body);
  font-weight: var(--weight-body);
}

h1 {
  font-family: var(--heading);
  font-size: var(--font-header);
  line-height: var(--line-height-header);
  color: var(--text-header);
  font-weight: var(--weight-header);
}