:root {
  --text-header: #202020;
  --text-body: #646464;
  --text-primary: #202020;
  --text-secondary: #C7C7C7;
  --divider: #F0EFEF;
  --background: #FFFFFF;

  --font-header: 24px;
  --font-body: 14px;
  --line-height-header: 150%;
  --line-height-body: 160%;
  --weight-header: 500;
  --weight-body: 400;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;

  --sans: Inter, sans-serif;
  --heading: Geist, sans-serif;

  color: var(--text-body);
  background: var(--background);
  font-family: var(--sans);
  font-size: var(--font-body);
  font-weight: var(--line-height-header);


  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
